<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div id="chrats">
  <div class="graph_ul col-md-12" id= "chart_table">

  </div>

</div>
<script type="text/javascript">
  set_the_div_for_graphs(<%= @project_ids %>);
</script>